{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container py-5">
  <h2>Our Products</h2>
  <form id="sortForm">
    <label for="sort">Sort by:</label>
    <select name="sort" id="sort">
      <option value="name">Name</option>
      <option value="price">Price</option>
    </select>
  </form>
  <div class="row" id="productList">
    {% for product in products %}
    <div
      class="col-md-4 mb-4 product-item"
      data-id="{{ product.id }}"
      data-name="{{ product.name }}"
      data-price="{{ product.price }}"
    >
      <div class="card h-100 position-relative">
        {% if product.image %}
        <img
          src="{{ product.image.url }}"
          class="card-img-top"
          alt="{{ product.name }}"
        />
        {% endif %}
        <div class="card-body d-flex flex-column">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <div class="mt-auto">
            <span class="price">${{ product.price }}</span>
            <form action="{% url 'add_to_cart' product.id %}" method="post">
              {% csrf_token %}
              <input type="hidden" name="product_id" value="{{ product.id }}" />
              <button type="submit" class="btn btn-primary btn-sm">
                Add to Cart
              </button>
            </form>
            <div class="position-absolute top-0 end-0 p-2">
              <div
                class="wishlist-icon"
                onclick="addToWishlist('{{ product.id }}')"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-heart"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.920 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"
                  />
                </svg>
              </div>
            </div>
            <div class="container">
              <span id="rating_{{ product.id }}" class="empty-stars"></span>
            </div>
            <form
              id="commentForm_{{ product.id }}"
              class="comment-form"
              style="display: none"
            >
              <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea
                  class="form-control"
                  id="comment"
                  rows="3"
                  required
                ></textarea>
              </div>
              <button
                type="button"
                class="btn btn-primary btn-sm"
                onclick="submitComment('{{ product.id }}')"
              >
                Submit
              </button>
            </form>
            <button
              type="button"
              class="btn btn-info btn-sm"
              onclick="toggleCommentForm('{{ product.id }}')"
            >
              Add Comment
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const products = document.querySelectorAll(".product-item");
    products.forEach(function (product) {
      const productId = product.getAttribute("data-id");
      const ratingElement = document.getElementById("rating_" + productId);
      if (ratingElement) {
        $(ratingElement).mdbRate();
        fetch(`/get_ratings_comments/${productId}/`)
          .then((response) => response.json())
          .then((data) => {
            let sum = 0;
            for (let i = 0; i < data.length; i++) {
              sum += data[i].rating;
            }
            const averageRating = sum / data.length;
            $(ratingElement).mdbRate({
              rating: averageRating,
              readonly: true,
            });
          })
          .catch((error) => console.error("Error fetching ratings:", error));
      }
    });
  });

  function toggleCommentForm(productId) {
    const commentForm = document.getElementById("commentForm_" + productId);
    if (commentForm) {
      if (commentForm.style.display === "none") {
        commentForm.style.display = "block";
      } else {
        commentForm.style.display = "none";
      }
    }
  }

  function submitComment(productId) {
    const commentForm = document.getElementById("commentForm_" + productId);
    const commentTextarea = commentForm.querySelector("textarea");
    const comment = commentTextarea.value;
    fetch(`/submit_rating/${productId}/`, {
      method: "POST",
      headers: {
        "X-CSRFToken": getCookie("csrftoken"),
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ rating: 0, comment: comment }),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
        alert("Comment submitted successfully!");
        commentTextarea.value = "";
        toggleCommentForm(productId);
      })
      .catch((error) => {
        console.error("Error:", error);
        alert("Failed to submit comment. Please try again.");
      });
  }

  document.getElementById("sort").addEventListener("change", function () {
    sortValue = this.value;
    sessionStorage.setItem("sortValue", sortValue);
    sortProducts();
  });

  function getInitialSortValue() {
    const storedSortValue = sessionStorage.getItem("sortValue");
    return storedSortValue ? storedSortValue : "name";
  }

  function setInitialSortValue() {
    const sortValue = getInitialSortValue();
    document.getElementById("sort").value = sortValue;
  }

  function sortProducts() {
    let productList = document.getElementById("productList");
    let products = Array.from(
      productList.getElementsByClassName("product-item")
    );
    let sortValue = getInitialSortValue();
    products.sort(function (a, b) {
      if (sortValue === "name") {
        return a
          .getAttribute("data-name")
          .localeCompare(b.getAttribute("data-name"));
      } else if (sortValue === "price") {
        return (
          parseFloat(a.getAttribute("data-price")) -
          parseFloat(b.getAttribute("data-price"))
        );
      }
    });
    productList.innerHTML = "";
    products.forEach(function (product) {
      productList.appendChild(product);
    });
  }
  setInitialSortValue();
  sortProducts();
</script>
{% endblock %}
